{% for icon in icons %}
<div class="card-wrapper">
  <a id="icon-card-{{ icon.id }}" data-icon-id="{{ icon.id }}" class="icon-card-link" href="#">
    <div class="card"><!--  marching-ants selected marching -->
      <div class="card-image">
        {% if icon.localpath %}
        <img src="{{ url_for('static', filename=icon.localpath) }}" class="img-responsive" />
        {% endif %}
      </div>
      <div class="card-header">
        <div class="card-subtitle truncate text-gray">{{ icon.shortname.capitalize() }}</div>
      </div>
    </div>
  </a>
</div>
{% endfor %}
