{% if icon %}
  <h2>Icon Details</h2>
  <br />
  <img style="width: 75%; margin: 0 auto;" src="{{ url_for('static', filename=icon.localpath) }}" class="img-responsive" />

  <br /><br />

  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td><strong>Filename</strong></td>
        <td>{{ icon.shortname + "." + icon.mimetype }}</td>
      </tr>
      <tr>
        <td><strong>Source</strong></td>
        <td><a href="{{ source.url }}" target="_blank">{{ source.name }}</a>&nbsp;&nbsp;<i class="icon icon-share"></i></td>
      </tr>
    </tbody>
  </table>

{% endif %}
