{% if icon %}
  <br />
  <img style="width: 75%; margin: 0 auto;" src="{{ url_for('static', filename=icon.localpath) }}" class="img-responsive" />

  <br /><br />

  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td width="100"><strong>Category</strong></td>
        <td>
          {% if category %}
            {{ category.name }}
          {% else %}
            Uncategorized
          {% endif %}
        </td>
      </tr>
      <tr>
        <td><strong>Filename</strong></td>
        <td>{{ icon.shortname + "." + icon.mimetype }}</td>
      </tr>
      {% if source %}
      <tr>
        <td><strong>Source</strong></td>
        <td><span class="label label-rounded label-info">{{ source.repo_type }}</span>&nbsp;&nbsp;<a href="{{ source.url }}" target="_blank">{{ source.name }}&nbsp;&nbsp;<i class="icon icon-share"></i></a></td>
      </tr>
      {% endif %}
    </tbody>
  </table>

{% endif %}
