<html>
<head>
  <title>IconFinder</title>

{% assets "all_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

</style>

</head>

<body>

  {% include "topmenu.html" %}

  <div class="body-content">
    <div class="columns col-gapless">
      <div class="icon-content column col-9">
        {% block content %}
        {% endblock %}
      </div>
      <div id="icon-sidebar" class="icon-sidebar column col-3">
        Nothing is currently selected
      </div>
    </div>
  </div>

</body>

{% assets "all_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</html>
