<html>
<head>
  <title>IconFinder</title>

{% assets "all_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<style>
@import url(https://fonts.googleapis.com/css?family=Montserrat);

</style>

</head>

<body>

  {% include "topmenu.html" %}

  <div class="body-content">
    <div class="icon-content" style="width: 80%; margin: 0 auto;">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</body>

{% assets "all_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</html>
