<html>
<head>
  <title>IconFinder</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">

  {% assets "all_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <style>
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
  </style>

  {{ dropzone.load() }}

</head>

<body>

  {% include "topmenu.html" %}

  <div class="body-content">
    <div class="icon-content" style="width: 80%; margin: 0 auto;">
      {% block content %}
      {% endblock %}
    </div>
  </div>

</body>

{% assets "all_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</html>
