body{
  background: ***REMOVED***F1F3F5 !important;
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: normal;
}

.body-content {
  .default-padding {
    padding: 20px;
  }
}

.icon-grid {
  .card-wrapper {
    float: left;
    width: 10%;
    margin: 1.2%;
  }
  .card {
    text-align: center;
    transition: 0.2s linear all;
    padding-top: 15%;

    &:hover {
      box-shadow: 0px 6px 12px ***REMOVED***ccc;
    }

    &.active {
      border: solid 3px lighten(***REMOVED***7B66FF, 10%);
    }

    .card-image {

      .img-responsive {
        display: inline;
        max-width: 70% !important;
      }
    }
  }
}

.icon-content {
  padding-top: 3.4rem;
}

.icon-sidebar {
  background: ***REMOVED***FFF;
  box-shadow: 0px 2px 8px ***REMOVED***ccc;
  height: 100%;
  padding: 3.4rem 1rem 1rem 1rem !important;
}

.card, .modal-container {
  border-radius: .4rem !important;
}

.navbar {
  background: ***REMOVED***19212B;
  box-shadow: 0px 2px 8px ***REMOVED***ccc;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;

  .btn, .btn.btn-link {
    color: ***REMOVED***7B66FF;
    height: 2.6rem;
    padding: .8rem 1.2rem;

    &.active {
      border-bottom: solid 3px lighten(***REMOVED***7B66FF, 10%);
      color: lighten(***REMOVED***7B66FF, 10%);
    }

    &:hover {
      color: lighten(***REMOVED***7B66FF, 10%);
    }
  }
}

.modal-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}
