body{
  background: ***REMOVED***F1F3F5 !important;
  font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.body-content {
  .default-padding {
    padding: 1.2rem;
  }
}

.icon-grid {
  .card-wrapper {
    float: left;
    width: 10%;
    margin: 1.2%;
  }

  .card {
    text-align: center;
    padding-top: 15%;
    transition: linear .1s all;
    border: solid 3px ***REMOVED***FFF;

    &.active {
      border: solid 3px lighten(***REMOVED***7B66FF, 10%);

      .card-subtitle {
        color: ***REMOVED***7B66FF !important;
      }
    }

    .card-image {

      .img-responsive {
        display: inline;
        max-width: 70% !important;
      }
    }

    .card-subtitle {
      transition: linear .1s all;

      &.truncate {
        width: 80px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  a:hover {
    text-decoration: none !important;

    .card {
      box-shadow: 0px 6px 12px ***REMOVED***ccc;

      .card-subtitle {
        color: ***REMOVED***7B66FF !important;
      }
    }
  }

  a:focus {
    text-decoration: none !important;
  }
}

.icon-category_header {
  border-bottom: solid 1px ***REMOVED***E4E7EC;
  margin-left: .8rem;
  padding-bottom: 12px;
  text-transform: uppercase;
  line-height: 1.25em;
}

.icon-content {
  padding-top: 3.6rem;
}

.icon-sidebar {
  background: ***REMOVED***FFF;
  box-shadow: 0px 2px 8px ***REMOVED***ccc;
  height: 100%;
  padding: 3.4rem 1rem 1rem 1rem !important;
  position: fixed;
  top: 0px;
  right: 0px;
}

p.zero-state {
  text-align: center;
  font-size: 1.5rem;
  color: ***REMOVED***E4E7EC;
  line-height: 1.2em;
  margin-top: 40px;
}

.card, .modal-container {
  border-radius: .4rem !important;
}

.card {
  table {
    thead > tr > th:first-child {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
    tbody > tr > td:first-child {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
}

.btn {
  text-transform: none !important;
}

.hide {
  display: none !important;
}

.navbar {
  background: ***REMOVED***19212B;
  box-shadow: 0px 2px 8px ***REMOVED***ccc;
  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 100%;

  .btn, .btn.btn-link {
    color: ***REMOVED***7B66FF;
    height: 2.6rem;
    padding: .8rem 1.2rem;

    &.active {
      border-bottom: solid 3px lighten(***REMOVED***7B66FF, 10%);
      color: lighten(***REMOVED***7B66FF, 10%);
    }

    &:hover {
      color: lighten(***REMOVED***7B66FF, 10%);
    }
  }
}

.modal-title {
  font-weight: bold;
  font-size: 2em;
}

.label.label-info {
  background: ***REMOVED***47A8F3;
  color: ***REMOVED***FFF;
}

.dropzone {
  border: 6px dashed ***REMOVED***e0e0e0 !important;
  border-radius: 6px;
  height: 500px;
  transition: linear .3s all;

  text-align: center;
  font-size: 1.5rem;
  color: ***REMOVED***E4E7EC;
  line-height: 1.2em;

  &.dragover {
    background: lighten(***REMOVED***7B66FF, 20%);
    border: 6px dashed lighten(***REMOVED***7B66FF, 10%) !important;
    color: ***REMOVED***7B66FF;
  }
}


@mixin marching-ants-v2-init($ant-size,$ant-width,$speed,$id) {
  background-size:
    $ant-size $ant-width,
    $ant-size $ant-width,
    $ant-width $ant-size,
    $ant-width $ant-size;
  background-position:
    0 0,
    0 100%,
    0 0,
    100% 0;
  background-repeat:
    repeat-x,
    repeat-x,
    repeat-y,
    repeat-y;
  animation: marching-ants-***REMOVED***{$id} $speed;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;

  &:hover, &.marching {
    animation-play-state: running;
  }
  &.reverse {
    animation-direction: reverse;
  }
};
@mixin marching-ants-v2-color($a, $b){
  background-image:
    linear-gradient(to right, $a 50%, $b 50%),
    linear-gradient(to right, $a 50%, $b 50%),
    linear-gradient(to bottom, $a 50%, $b 50%),
    linear-gradient(to bottom, $a 50%, $b 50%);
};

@mixin marching-ants-v2-animation($ant-size, $id){
  @keyframes marching-ants-***REMOVED***{$id} {
    0% {
      background-position:
        0 0,
        0 100%,
        0 0,
        100% 0;
    }
    100% {
      background-position:
        2*$ant-size 0,
        -2*$ant-size 100%,
        0 -2*$ant-size,
        100% 2*$ant-size;
    }
  }
}

.marching-ants {
  @include marching-ants-v2-init(20px, 3px,1s,1);

  &.selected {
    @include marching-ants-v2-init(20px, 3px,1s,2);
    @include marching-ants-v2-color(***REMOVED***FF7F32,***REMOVED***fff);
    color: ***REMOVED***a00;
  }
}

@include marching-ants-v2-animation(20px, 1);
@include marching-ants-v2-animation(20px, 2);
@include marching-ants-v2-animation(20px, 3);
